// 變數定義
// 1.顏色
$primary : #B82A06;
$darkPrimary : #3C0C00;
$secondary : #FFB3A4;
$black : #000;
$white : #fff;

// 2.字體大小
$font-xxl : 72px;
$font-xl : 56px;
$font-l : 42px;
$font-m : 36px;
$font-s : 30px;
$font-xs : 24px;
$font-xxs : 16px;

@font-face {
    font-family: "Cubic 11";
    src: url("../fonts/ttf/Cubic_11_1.013_R.ttf")format("truetype"),
        url("../fonts/web/Cubic_11_1.013_R.woff")format("woff");
}

body {
    background: $black;
    color: $white;
    font-family: "Cubic 11";
}

*,*::before,*::after{
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.5;
}

a {
    display: block;
    text-decoration: none;
}

h1,
.h1 {
    font-size: $font-xxl;
}

h2,
.h2 {
    font-size: $font-xl;
}

h3,
.h3 {
    font-size: $font-l;
}

h4,
.h4 {
    font-size: $font-m;
}

h5,
.h5 {
    font-size: $font-s;
}

h6,
.h6 {
    font-size: $font-xs;
}

h7,
.h7 {
    font-size: $font-xxs;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.z-15 {
    z-index: 15;
}

.z-10 {
    z-index: 10;
}

.z-5 {
    z-index: 5;
}

.z-0 {
    z-index: 0;
}


header {
    margin-bottom: 375px;

    nav {
        background: $primary;
        padding: 10px 0;
        margin-bottom: 24px;

        .container {
            display: flex;
            align-items: center;
        }

        h1 {
            margin-left: auto;
            margin-right: 30px;

            a {
                background: url("../img/THE\ F2E.png") no-repeat;
                width: 105px;
                height: 16px;
                text-indent: 101%;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

.menu {
    display: flex;
    align-items: center;

    li {
        margin-right: 30px;

        a {
            color: $black;

            &:hover {
                color: $white;
            }

            &:active {
                color: $secondary;
            }
        }
    }

    li:nth-of-type(4),
    li:nth-of-type(5) {
        width: 104px;
        background: $white;
        padding: 10px 0;
        margin-right: 10px;
        // transition: all .5s;
        position: relative;
    }

    li:nth-of-type(4) a,
    li:nth-of-type(5) a {
        color: $primary;
        text-align: center;
    }

    li:nth-of-type(4):hover,
    li:nth-of-type(5):hover {
        top: 5px;
        left: 5px;
        box-shadow: 0px 0px 1px $darkPrimary, 0px -1px 1px $darkPrimary, -2px -1px 1px $darkPrimary, -1px -2px 1px $darkPrimary, -3px -2px 1px $darkPrimary, -2px -3px 1px $darkPrimary, -4px -3px 1px $darkPrimary, -3px -4px 1px $darkPrimary, -5px -4px 1px $darkPrimary, -4px -5px 1px $darkPrimary, -6px -5px 1px $darkPrimary;
    }

    li:nth-of-type(4):active,
    li:nth-of-type(5):active {
        box-shadow: none;
        top: 0;
        left: 0;
        background: $darkPrimary;
    }
}

@media (max-width:768px) {
    header nav h1 {
        margin-left: 0;
    }

    .menu {
        margin-left: auto;
    }
}

.heroBanner {
    max-width: 1048px;
    margin: 0 auto;
    padding: 0 25px;

    .bannerTopText {
        display: flex;
        justify-content: space-between;
        margin-bottom: 113px;
        font-size: $font-m;
    }

    .bannerText {
        margin-top: 113px;
        font-size: $font-l;
        position: relative;

        .textLogin {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        a {
            color: $white;

            &:hover,
            &.active {
                color: $primary;
                &::before {
                    content: "";
                    background: url("../img/戰車\(俯\).gif");
                    width: 86px;
                    height: 53px;
                    position: absolute;
                    left: -106px;
                    background-size: cover;
                }
            }
        }
    }

    .textFooter {
        margin-top: 339px;
        text-align: center;
        font-size: $font-m;
    }
}

main {
    .sloganStart p {
        font-size: $font-m;
    }

    .box {
        width: 50%;
        height: 570px;
        background: $primary;
        display: flex;
        align-items: center;
        position: relative;
    }

    .boxwrap-half {
        width: 100%;
        margin-bottom: 243px;
    }

    .boxwrap-half>div {
        position: relative;
    }

    .boxwrap-full {
        width: 100%;
        margin-bottom: 243px;

        .box {
            margin-left: auto;
        }
    }

    .boxwrap-full>div {
        position: relative;
    }

    .animation-wrapper {
        .talk1 {
            width: 390px;
            position: absolute;
            top: -7%;
            left: 57%;
        }

        .talk2 {
            width: 356px;
            position: absolute;
            top: -7%;
            left: -15%;
        }
    }

    .animation-wrapper img {
        width: 637px;
        margin: 0 auto;
    }

    .box-2,
    .box-3 {
        align-items: flex-end
    }

    .slogan1 {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 37%;
    }

    .slogan2 {
        position: absolute;
        z-index: 2;
        top: 62%;
        left: 38%;
    }

    .slogan3 {
        position: absolute;
        z-index: 2;
        top: 68%;
        left: 38%;
    }

    .slogan1-1 {
        color: #000;
        position: absolute;
        top: -5%;
        left: 70%;
    }

    .slogan2-1 {
        color: #000;
        position: absolute;
        top: 5%;
        left: -3%;
    }

    // 互動式網頁設計區塊
    .section2 {
        height: 100vh;
        position: relative;
        margin-bottom: 500px;

        .title {
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            h3 {
                display: inline-block;
                border: 3px solid $white;
                padding: 40px 80px;
                margin-bottom: 16px;
            }
        }

        .bg-1 {
            position: absolute;
            bottom: 0;
        }

        .bg-2 {
            position: absolute;
            width: 70%;
            bottom: 0;
            right: 0;
        }

        .bg-3 {
            position: absolute;
            width: 80%;
            bottom: 0;
            left: 0;
        }

        .bg-4 {
            position: absolute;
            bottom: 0;
        }
    }

    .section2-bg {
        position: relative;
        display: flex;
        height: 100vh;
        overflow: hidden;
        .box-bg {
            position: absolute;
            width: 100%;
            height: 100vh;
            background: linear-gradient(0deg, #CC4F36, #000000);
        }
    
        .box-bg-2 {
            background: linear-gradient(0deg, #FFB3A4, #CC4F36);
        }
    
        .box-bg-3 {
            background: #FFB3A4;
        }
    }


    // 每周活動介紹
    .section3 {
        position: relative;
        display: flex;
        height: 100vh;
        overflow: hidden;

        .carIcon {
            position: absolute;
            top: 63%;
            left: 47%;
            width: 207px;
            z-index: 15;
        }

        .carLine {
            position: absolute;
            top: 71%;
            right: 0;
            width: 50%;
            z-index: 14;
            border-bottom: 3px dashed $white;
        }

        .gate {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .gate-1 {
            background: url(../img/week1\ 1.png) top left no-repeat #B82A06;

            h3 {
                color: $secondary;
            }
        }

        .gate-2 {
            background: url(../img/week2\ 1.png) top left no-repeat #76B9D6;

            h3 {
                color: #0061A1;
            }
        }

        .gate-3 {
            background: url(../img/week3\ 1.png) top left no-repeat #215400;

            h3 {
                color: #C7FFA3;
            }
        }

        .gate-text {
            text-align: center;

            h4 {
                margin-bottom: 48px;
            }

            p {
                font-size: $font-m;

                span {
                    display: block;
                }
            }

            a {
                display: inline-block;
                color: $primary;
                font-size: $font-m;
                background: $white;
                padding: 10px 36px;
                position: relative;

                &:hover {
                    top: 5px;
                    left: 5px;
                    box-shadow: 0px 0px 1px $secondary, 0px -1px 1px $secondary, -2px -1px 1px $secondary, -1px -2px 1px $secondary, -3px -2px 1px $secondary, -2px -3px 1px $secondary, -4px -3px 1px $secondary, -3px -4px 1px $secondary, -5px -4px 1px $secondary, -4px -5px 1px $secondary, -6px -5px 1px $secondary;
                }

                &:active {
                    box-shadow: none;
                    top: 0;
                    left: 0;
                    background: $darkPrimary;
                }
            }

            .gate-icon {
                width: 140px;
                margin: 42px auto;
            }
        }
    }
    // 活動時程
    .section4{
        margin-top: 300px;
        h4{
            color: $secondary;
        }
        .step{
            display: flex;
            justify-content: center;
            margin-bottom: 300px;
            .step-title{
                h4{

                    font-size: $font-xxl;
                }
            }
            .text{
                font-size: $font-m;
            }

        }
        .section4-icon{
            position: relative;
            width: 140px;
            height: 229px;
            margin-right: 36px;
            img{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    // 比賽說明區塊
    .section5{
        margin-top: 200px;
        margin-bottom: 360px;
        .section5-text{
            margin: 60px 0;
            text-align: center;
            font-size: $font-xl;
            span{
                display: block;
            }
        }
        img{
            margin-bottom: 140px;
        }
        .contentText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container > p{
                margin-bottom: 200px;
            }
            h4{
                font-size: $font-xl;
                color: $secondary;
                margin-bottom: 24px;
            }
            p{
                font-size: $font-m;
            }
            span{
                display: block;
                font-size: $font-xs;
            }
            li{
                margin-bottom: 36px;
            }
            .red{
                display: inline;
                font-size: $font-m;
                color: $primary;
            }
        }
    }

    .fqa{
        margin-bottom: 200px;
        h3{
            color: $white;
            background: $primary;
            text-align: center;
            padding: 35px;
            font-size: $font-xl;
            margin-bottom: 80px;
        }
        .fqa-option{
            display: flex;
            margin-bottom: 80px;
            li{
                width: 25%;
                margin: 0 10px;
                color: $primary;
                background: $white;
                padding: 20px;
                text-align: center; 
                font-size: $font-m;
                &:hover,&.active{
                    background: $darkPrimary;
                    color: $primary;
                }
            }
        }
        .fqa-list{
            li{
                margin-bottom: 36px;
                font-size: $font-xs;
            }
            .fqa-q{
                color: $secondary;
            }
        }
        .fqaBtn{
            background: $white;
            color: $primary;
            padding: 24px;
            text-align: center;
            font-size: $font-m;
            &:hover{
                color: $primary;
                background: $darkPrimary;
            }
        }
    }
    // 贊助商
    .sponsor{
        padding: 115px 0;
        position: relative;
        overflow: hidden;
        .sponsor-bg{
            background: $primary;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .sponsor-diamond-s{
            position: absolute;
            top: 6%;
            left: 0;
        }
        .sponsor-diamond-b{
            position: absolute;
            top: 6%;
            left: 0;
            z-index: 2;
        }
        .loop{
            display: flex;
            flex-wrap: nowrap;
        }
        h3{
            font-size: $font-xl;
            margin-bottom: 50px;
            text-align: center;
            span{
                color: #FFC612;
            }
        }
        .mb-l{
            margin-bottom: 150px;
        }
        .container{
            position: relative;
        }
        .sponsorList{
            display: flex;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
                width: 33.3333%;
                min-height: 386px;
                padding: 40px;
                background: $white;
            }
        }
    }
}

@media (max-width:768px) {
    main {
        .box {
            width: 100%;
            height: 477px;
        }

        .animation-wrapper {
            .talk1 {
                width: 305px;
                top: -3%;
                left: 55%;
            }

            .talk2 {
                width: 215px;
                top: -15%;
                left: 5%;
            }
        }

        .animation-wrapper img {
            width: 499px;
        }

        .slogan1,
        .slogan2,
        .slogan3 {
            position: static;
            margin-top: 90px;
            text-align: center;
        }

        .slogan1-1 {
            top: -2%;
            left: 65%;
        }

        .slogan2-1 {
            color: #000;
            position: absolute;
            top: -8%;
            left: 10%;
        }

        .boxwrap-half,
        .boxwrap-full {
            margin-bottom: 90px;
        }

        .section2{
            .title {
                bottom: 0%;
                h3 {
                    font-size: $font-m;
                    padding: 40px 40px;
                }
                p{
                    font-size: $font-xxs;
                }
            }
        }

        .section3{
            .carIcon {
                top: 57%;
                left: 43%;
            }
    
            .carLine {
                top: 64%;
            }
            .gate-1 {
                background: url(../img/week1-mobile.png) center no-repeat #B82A06;
            }
    
            .gate-2 {
                background: url(../img/week2-mobile.png) center no-repeat #76B9D6;
            }
    
            .gate-3 {
                background: url(../img/week3-mobile.png) center no-repeat #215400;
            }
            .gate-text{
                h3,h4{
                    font-size: $font-m;
                }
                p{
                    font-size: $font-xs;
                }
            }
        }
        .section4{
            .step{
                .step-title{
                    h4{
                        font-size: $font-l;
                    }

                }
                .text{
                    font-size: $font-xs;
                }
            }
        }
        .section5{
            margin-bottom: 200px;
            .section5-text{
                font-size: $font-m;
            }
            .contentText{
                .container > p{
                    margin-bottom: 100px;
                }
                h4,p,span,li,.red{
                    font-size: $font-xs;
                }
            }
        }

        .fqa{
            h3,.fqaBtn{
                font-size: $font-xs;
            }
            .fqa-option{
                flex-wrap: wrap;
                li{
                    width: 47%;
                    font-size: $font-xs;
                    padding: 20px 0;
                    margin-bottom: 16px;
                }
            }
        }
        .sponsor{
            .sponsorList{
                li{
                    min-height: 200px;
                }
            }
        }
    }
}