@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Cubic 11";
  src: url("../fonts/ttf/Cubic_11_1.013_R.ttf") format("truetype"), url("../fonts/web/Cubic_11_1.013_R.woff") format("woff");
}
body {
  background: #000;
  color: #fff;
  font-family: "Cubic 11";
}

img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

h1, .h1 {
  font-size: 72px;
}

h2, .h2 {
  font-size: 56px;
}

h3, .h3 {
  font-size: 42px;
}

h4, .h4 {
  font-size: 36px;
}

h5, .h5 {
  font-size: 30px;
}

h6, .h6 {
  font-size: 24px;
}

h7, .h7 {
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  margin-bottom: 375px;
}
header nav {
  background: #B82A06;
  padding: 10px 0;
  margin-bottom: 24px;
}
header nav .container {
  display: flex;
  align-items: center;
}
header nav h1 {
  margin-left: auto;
  margin-right: 30px;
}
header nav h1 a {
  background: url("../img/THE F2E.png") no-repeat;
  width: 105px;
  height: 16px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.menu {
  display: flex;
  align-items: center;
}
.menu li {
  margin-right: 30px;
}
.menu li a {
  color: #000;
}
.menu li a:hover {
  color: #fff;
}
.menu li a:active {
  color: #FFB3A4;
}
.menu li:nth-of-type(4),
.menu li:nth-of-type(5) {
  width: 104px;
  background: #fff;
  padding: 10px 0;
  margin-right: 10px;
  position: relative;
}
.menu li:nth-of-type(4) a,
.menu li:nth-of-type(5) a {
  color: #B82A06;
  text-align: center;
}
.menu li:nth-of-type(4):hover,
.menu li:nth-of-type(5):hover {
  top: 5px;
  left: 5px;
  box-shadow: 0px 0px 1px #3C0C00, 0px -1px 1px #3C0C00, -2px -1px 1px #3C0C00, -1px -2px 1px #3C0C00, -3px -2px 1px #3C0C00, -2px -3px 1px #3C0C00, -4px -3px 1px #3C0C00, -3px -4px 1px #3C0C00, -5px -4px 1px #3C0C00, -4px -5px 1px #3C0C00, -6px -5px 1px #3C0C00;
}
.menu li:nth-of-type(4):active,
.menu li:nth-of-type(5):active {
  box-shadow: none;
  top: 0;
  left: 0;
  background: #3C0C00;
}

@media (max-width: 768px) {
  header nav h1 {
    margin-left: 0;
  }
  .menu {
    margin-left: auto;
  }
}
.heroBanner {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 25px;
}
.heroBanner .bannerTopText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 113px;
  font-size: 36px;
}
.heroBanner .bannerText {
  margin-top: 113px;
  font-size: 42px;
  position: relative;
}
.heroBanner .bannerText .textLogin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.heroBanner .bannerText a {
  color: #fff;
}
.heroBanner .bannerText a:hover, .heroBanner .bannerText a.active {
  color: #B82A06;
}
.heroBanner .bannerText a:hover::before, .heroBanner .bannerText a.active::before {
  content: "";
  background: url("../img/戰車(俯) 1.png");
  width: 86px;
  height: 53px;
  position: absolute;
  left: -106px;
}
.heroBanner .textFooter {
  margin-top: 339px;
  text-align: center;
  font-size: 36px;
}

main .slogan {
  width: 50%;
  background: #B82A06;
  margin-bottom: 234px;
  padding: 70px 0;
  position: relative;
}
main .slogan .sloganTalk img {
  width: 390px;
  position: absolute;
  top: -7%;
  left: 57%;
}
main .slogan .sloganTalk p {
  position: absolute;
  top: -5%;
  left: 69%;
  z-index: 5;
  color: #000;
}
main .slogan p {
  position: absolute;
  top: 47%;
  right: -27%;
  font-size: 36px;
}
main .sloganStart p {
  font-size: 36px;
}
main .box {
  width: 50%;
  height: 570px;
  background: #B82A06;
  display: flex;
  align-items: center;
  position: relative;
}
main .boxwrap-half {
  width: 100%;
  margin-bottom: 243px;
}
main .boxwrap-half > div {
  position: relative;
}
main .boxwrap-full {
  width: 100%;
  margin-bottom: 243px;
}
main .boxwrap-full .box {
  margin-left: auto;
}
main .boxwrap-full > div {
  position: relative;
}
main .animation-wrapper .talk1 {
  width: 390px;
  position: absolute;
  top: -7%;
  left: 57%;
}
main .animation-wrapper .talk2 {
  width: 356px;
  position: absolute;
  top: -7%;
  left: -15%;
}
main .animation-wrapper img {
  width: 637px;
  margin: 0 auto;
}
main .box-2, main .box-3 {
  align-items: flex-end;
}
main .slogan1 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 37%;
}
main .slogan2 {
  position: absolute;
  z-index: 2;
  top: 62%;
  left: 38%;
}
main .slogan3 {
  position: absolute;
  z-index: 2;
  top: 68%;
  left: 38%;
}
main .slogan1-1 {
  color: #000;
  position: absolute;
  top: -5%;
  left: 70%;
}
main .slogan2-1 {
  color: #000;
  position: absolute;
  top: 5%;
  left: -3%;
}/*# sourceMappingURL=all.css.map */